{% extends "base.html.twig" %}

{% block content %}

<div class="row-fluid">
    <div class="span6">
        <div class="hero-unit">
            <h1>Summarize your talks!</h1>
            <p>
                <strong>Have you ever submitted to a conference and had to link to two or more instances of a talk for 
                    people to evaluate it?</strong>
            </p>
            <p>
                Ever wanted to just submit your talk once showing conference organizers a very nice summary of the 
                aggregate of all ratings on your talk? How about a evolution graph per event?
            </p>
            <p>
                Struggle no more! Just give us the list of talks you want to aggregate and we will give you an awesome 
                summary page to give the conference organizers.
            </p>
        </div>
    </div>
    <div class="span6">
        <div class="page-header">
            <h1>Create your own summary page</h1>
        </div>
        <form action="generate" method="post" class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="talk1">Primary talk ID</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="talk1" name="talks[]" placeholder="Paste in only the numeric ID">
                    <p class="help-block">This is the primary talk, we will take the title from this one.</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="talk2">Second talk ID</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="talk2" name="talks[]" placeholder="Paste in only the numeric ID">
                </div>
            </div>
            <div id="add-group" class="control-group">    
                <div class="controls">
                    <a id="add-btn" href="#" class="btn btn-success"><i class="icon-plus icon-white"></i> Add another talk</a>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Generate Summary</button> 
                <button class="btn">Cancel</button>
            </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script id="fieldTemplate" type="text/x-jquery-tmpl">
    <div class="control-group">
        <label class="control-label" for="talk${id}">Another talk</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="talk${id}" name="talks[]" placeholder="Paste in only the numeric ID">
        </div>
    </div>
</script>

<script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
       var counter = 2;
       
       $('#add-btn').click(function() {
           counter++;
           $( "#add-group" ).before( $("#fieldTemplate").tmpl( {id: counter} ) );
       });
        
    });
</script>
{% endblock %}